body {
  background: #f1f1f1;
  font-family: sans-serif;
}

.game-submit {
  padding-bottom: 20px;
}

.btn-submit {
  padding-left: 10px;
}

.game-submit-form {
  padding-bottom: 20px;
}

.game-list {

}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #c3c3c3;
}

.game-list-entry {
  margin: 10px;
}

.game-title {
  font-weight: bold;
}

.game-release-date {
  font-style: italic;
}

.game-platform {

}

.game-platform-img {

}
